@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
 }
 
button{
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-family: 'Roboto';
    font-weight: 700;"
}